<div class="container" style="background-color: rgb(253, 253, 253);border-radius: 15px;">
    <div class="table-wrapper">
        <div class="table-title">
            <br>
            <div class="row">
                <div class="col-sm-8">
                    <h4>Roles</h4>
                </div>
            </div>
        </div>
    
        <table class="table table-bordered" id="myTable">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Role Type</th>
                    <th>Action</th>
                </tr>
            </thead>
             <tbody>
                <ng-container *ngFor="let rol of RoleData">
                    <tr>
                        
                        <td>{{rol?.name}}</td>
                        <td>{{rol?.roleName}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="Editpage(rol)">Edit</button>
                        </td>
                    </tr>
                </ng-container>
            </tbody> 
        </table>
    </div>
</div>