Core/.vs/ProjectEvaluation/webapplication1.metadata.v7.bin
Core/.vs/ProjectEvaluation/webapplication1.projects.v7.bin
Core/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
Core/.vs/WebApplication1/FileContentIndex/d4be459c-dcdd-4922-a468-d8586f9468dd.vsidx
Core/.vs/WebApplication1/config/applicationhost.config
Core/.vs/WebApplication1/v16/.suo
Core/.vs/WebApplication1/v17/.futdcache.v2
Core/.vs/WebApplication1/v17/.suo
Core/Models/bin/Debug/net6.0/Models.dll
Core/Models/bin/Debug/net6.0/Models.pdb
Core/Models/obj/Models.csproj.nuget.dgspec.json
Core/Models/obj/project.assets.json
Core/Models/obj/project.nuget.cache
Core/Models/obj/Debug/net6.0/Models.assets.cache
Core/Models/obj/Debug/net6.0/Models.csproj.CoreCompileInputs.cache
Core/Models/obj/Debug/net6.0/Models.csproj.FileListAbsolute.txt
Core/Models/obj/Debug/net6.0/Models.dll
Core/Models/obj/Debug/net6.0/Models.GeneratedMSBuildEditorConfig.editorconfig
Core/Models/obj/Debug/net6.0/Models.pdb
Core/Models/obj/Debug/net6.0/ref/Models.dll
Core/Models/obj/Debug/net6.0/refint/Models.dll
Core/WebApplication2/bin/Debug/net6.0/Models.dll
Core/WebApplication2/bin/Debug/net6.0/Models.pdb
Core/WebApplication2/bin/Debug/net6.0/PostgresDBHelper.dll
Core/WebApplication2/bin/Debug/net6.0/PostgresDBHelper.pdb
Core/WebApplication2/bin/Debug/net6.0/Repositories.dll
Core/WebApplication2/bin/Debug/net6.0/Repositories.pdb
Core/WebApplication2/bin/Debug/net6.0/WebApplication2.dll
Core/WebApplication2/bin/Debug/net6.0/WebApplication2.pdb
Core/WebApplication2/obj/project.assets.json
Core/WebApplication2/obj/project.nuget.cache
Core/WebApplication2/obj/WebApplication2.csproj.nuget.dgspec.json
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.assets.cache
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.AssemblyReference.cache
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.CoreCompileInputs.cache
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.FileListAbsolute.txt
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.dll
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.GeneratedMSBuildEditorConfig.editorconfig
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.genruntimeconfig.cache
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.pdb
Core/WebApplication2/obj/Debug/net6.0/ref/WebApplication2.dll
Core/WebApplication2/obj/Debug/net6.0/refint/WebApplication2.dll
Angular/src/environment.ts
