Core/Models/bin/
Core/Models/obj/
Core/Repositories/bin
Core/Repositories/obj
Core/WebApplication2/bin/
Core/WebApplication2/obj/
Core/WebApplication2/Properties/PublishProfiles/FolderProfile.pubxml
Core/WebApplication2/Properties/PublishProfiles/FolderProfile.pubxml.user
Core/WebApplication2/WebApplication2.csproj
Core/WebApplication2/WebApplication2.csproj.user
Core/WebApplication2/.config/dotnet-tools.json
Core/.vs/WebApplication1/FileContentIndex/252bd871-9558-4023-8795-0c9c204c421a.vsidx
Core/.vs/WebApplication1/FileContentIndex/b2ba86e1-6b1d-4e01-9094-6da1d626fa33.vsidx
Core/.vs/WebApplication1/FileContentIndex/d73e4ad9-d84c-4f8d-9d81-812f10501639.vsidx
Core/.vs/WebApplication1/FileContentIndex/d680d21b-b15c-4781-921f-d984156671bf.vsidx
Core/.vs/ProjectEvaluation/webapplication1.metadata.v7.bin
Core/.vs/ProjectEvaluation/webapplication1.projects.v7.bin
Core/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
Core/.vs/WebApplication1/FileContentIndex/43a1de0a-d75f-45f9-811d-8652a7576c02.vsidx
Core/.vs/WebApplication1/FileContentIndex/d49c4612-6e28-4eea-83db-b3b235d62fb2.vsidx
Core/.vs/WebApplication1/FileContentIndex/read.lock
Core/.vs/WebApplication1/config/applicationhost.config
Core/.vs/WebApplication1/v16/.suo
Core/.vs/WebApplication1/v17/.futdcache.v2
Core/.vs/WebApplication1/v17/.suo
Core/PostgresDBHelper/obj
Core/PostgresDBHelper/bin
Core/WebApplication2/WebApplication2.csproj.user
Core/WebApplication2/WebApplication2.csproj.user