Core/Models/bin/Release/net6.0/Models.deps.json
Core/Models/bin/Release/net6.0/Models.dll
Core/Models/bin/Release/net6.0/Models.pdb
Core/Models/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Core/Models/obj/Release/net6.0/Models.AssemblyInfo.cs
Core/Models/obj/Release/net6.0/Models.AssemblyInfoInputs.cache
Core/Models/obj/Release/net6.0/Models.assets.cache
Core/Models/obj/Release/net6.0/Models.csproj.AssemblyReference.cache
Core/Models/obj/Release/net6.0/Models.csproj.CoreCompileInputs.cache
Core/Models/obj/Release/net6.0/Models.csproj.FileListAbsolute.txt
Core/Models/obj/Release/net6.0/Models.dll
Core/Models/obj/Release/net6.0/Models.GeneratedMSBuildEditorConfig.editorconfig
Core/Models/obj/Release/net6.0/Models.GlobalUsings.g.cs
Core/Models/obj/Release/net6.0/Models.pdb
Core/Models/obj/Release/net6.0/ref/Models.dll
Core/Models/obj/Release/net6.0/refint/Models.dll
Core/Repositories/bin/Debug/net6.0/Models.dll
Core/Repositories/bin/Debug/net6.0/Models.pdb
Core/Repositories/bin/Debug/net6.0/Repositories.dll
Core/Repositories/bin/Debug/net6.0/Repositories.pdb
Core/Repositories/bin/Release/net6.0/Models.dll
Core/Repositories/bin/Release/net6.0/Models.pdb
Core/Repositories/bin/Release/net6.0/Repositories.deps.json
Core/Repositories/bin/Release/net6.0/Repositories.dll
Core/Repositories/bin/Release/net6.0/Repositories.pdb
Core/Repositories/obj/project.assets.json
Core/Repositories/obj/project.nuget.cache
Core/Repositories/obj/Repositories.csproj.nuget.dgspec.json
Core/Repositories/obj/Debug/net6.0/Repositories.assets.cache
Core/Repositories/obj/Debug/net6.0/Repositories.csproj.AssemblyReference.cache
Core/Repositories/obj/Debug/net6.0/Repositories.csproj.CoreCompileInputs.cache
Core/Repositories/obj/Debug/net6.0/Repositories.csproj.FileListAbsolute.txt
Core/Repositories/obj/Debug/net6.0/Repositories.dll
Core/Repositories/obj/Debug/net6.0/Repositories.GeneratedMSBuildEditorConfig.editorconfig
Core/Repositories/obj/Debug/net6.0/Repositories.pdb
Core/Repositories/obj/Debug/net6.0/ref/Repositories.dll
Core/Repositories/obj/Debug/net6.0/refint/Repositories.dll
Core/Repositories/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Core/Repositories/obj/Release/net6.0/Repositories.AssemblyInfo.cs
Core/Repositories/obj/Release/net6.0/Repositories.AssemblyInfoInputs.cache
Core/Repositories/obj/Release/net6.0/Repositories.assets.cache
Core/Repositories/obj/Release/net6.0/Repositories.csproj.AssemblyReference.cache
Core/Repositories/obj/Release/net6.0/Repositories.csproj.CopyComplete
Core/Repositories/obj/Release/net6.0/Repositories.csproj.CoreCompileInputs.cache
Core/Repositories/obj/Release/net6.0/Repositories.csproj.FileListAbsolute.txt
Core/Repositories/obj/Release/net6.0/Repositories.dll
Core/Repositories/obj/Release/net6.0/Repositories.GeneratedMSBuildEditorConfig.editorconfig
Core/Repositories/obj/Release/net6.0/Repositories.GlobalUsings.g.cs
Core/Repositories/obj/Release/net6.0/Repositories.pdb
Core/Repositories/obj/Release/net6.0/ref/Repositories.dll
Core/Repositories/obj/Release/net6.0/refint/Repositories.dll
Core/Repositories/obj/Debug/net6.0/Repositories.assets.cache
Core/Repositories/obj/Debug/net6.0/Repositories.csproj.AssemblyReference.cache
Core/Repositories/obj/Debug/net6.0/Repositories.csproj.CoreCompileInputs.cache
Core/Repositories/obj/Debug/net6.0/Repositories.csproj.FileListAbsolute.txt
Core/Repositories/obj/Debug/net6.0/Repositories.dll
Core/Repositories/obj/Debug/net6.0/Repositories.GeneratedMSBuildEditorConfig.editorconfig
Core/Repositories/obj/Debug/net6.0/Repositories.pdb
Core/Repositories/obj/Debug/net6.0/ref/Repositories.dll
Core/Repositories/obj/Debug/net6.0/refint/Repositories.dll
.gitignore
Core/WebApplication2/bin/Debug/net6.0/Azure.Core.dll
Core/WebApplication2/bin/Debug/net6.0/Azure.Identity.dll
Core/WebApplication2/bin/Debug/net6.0/B1SLayer.dll
Core/WebApplication2/bin/Debug/net6.0/Flurl.dll
Core/WebApplication2/bin/Debug/net6.0/Flurl.Http.dll
Core/WebApplication2/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
Core/WebApplication2/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
Core/WebApplication2/bin/Debug/net6.0/Microsoft.Identity.Client.dll
Core/WebApplication2/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
Core/WebApplication2/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
Core/WebApplication2/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
Core/WebApplication2/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
Core/WebApplication2/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
Core/WebApplication2/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Core/WebApplication2/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
Core/WebApplication2/bin/Debug/net6.0/Microsoft.SqlServer.Server.dll
Core/WebApplication2/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
Core/WebApplication2/bin/Debug/net6.0/Models.dll
Core/WebApplication2/bin/Debug/net6.0/Models.pdb
Core/WebApplication2/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
Core/WebApplication2/bin/Debug/net6.0/Newtonsoft.Json.dll
Core/WebApplication2/bin/Debug/net6.0/PostgresDBHelper.dll
Core/WebApplication2/bin/Debug/net6.0/PostgresDBHelper.pdb
Core/WebApplication2/bin/Debug/net6.0/Repositories.dll
Core/WebApplication2/bin/Debug/net6.0/Repositories.pdb
Core/WebApplication2/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
Core/WebApplication2/bin/Debug/net6.0/System.Drawing.Common.dll
Core/WebApplication2/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
Core/WebApplication2/bin/Debug/net6.0/System.Memory.Data.dll
Core/WebApplication2/bin/Debug/net6.0/System.Net.Http.Formatting.dll
Core/WebApplication2/bin/Debug/net6.0/System.Runtime.Caching.dll
Core/WebApplication2/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
Core/WebApplication2/bin/Debug/net6.0/System.Security.Permissions.dll
Core/WebApplication2/bin/Debug/net6.0/System.Windows.Extensions.dll
Core/WebApplication2/bin/Debug/net6.0/WebApplication2.deps.json
Core/WebApplication2/bin/Debug/net6.0/WebApplication2.dll
Core/WebApplication2/bin/Debug/net6.0/WebApplication2.pdb
Core/WebApplication2/bin/Debug/net6.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
Core/WebApplication2/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
Core/WebApplication2/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
Core/WebApplication2/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
Core/WebApplication2/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
Core/WebApplication2/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
Core/WebApplication2/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
Core/WebApplication2/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
Core/WebApplication2/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
Core/WebApplication2/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
Core/WebApplication2/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
Core/WebApplication2/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
Core/WebApplication2/bin/Release/net6.0/appsettings.Development.json
Core/WebApplication2/bin/Release/net6.0/appsettings.json
Core/WebApplication2/bin/Release/net6.0/Dapper.dll
Core/WebApplication2/bin/Release/net6.0/Microsoft.OpenApi.dll
Core/WebApplication2/bin/Release/net6.0/Models.dll
Core/WebApplication2/bin/Release/net6.0/Models.pdb
Core/WebApplication2/bin/Release/net6.0/Npgsql.dll
Core/WebApplication2/bin/Release/net6.0/PostgresDBHelper.dll
Core/WebApplication2/bin/Release/net6.0/PostgresDBHelper.pdb
Core/WebApplication2/bin/Release/net6.0/Repositories.dll
Core/WebApplication2/bin/Release/net6.0/Repositories.pdb
Core/WebApplication2/bin/Release/net6.0/Swashbuckle.AspNetCore.Swagger.dll
Core/WebApplication2/bin/Release/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Core/WebApplication2/bin/Release/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Core/WebApplication2/bin/Release/net6.0/WebApplication2.deps.json
Core/WebApplication2/bin/Release/net6.0/WebApplication2.dll
Core/WebApplication2/bin/Release/net6.0/WebApplication2.exe
Core/WebApplication2/bin/Release/net6.0/WebApplication2.pdb
Core/WebApplication2/bin/Release/net6.0/WebApplication2.runtimeconfig.json
Core/WebApplication2/bin/Release/net6.0/win-x64/appsettings.Development.json
Core/WebApplication2/bin/Release/net6.0/win-x64/appsettings.json
Core/WebApplication2/bin/Release/net6.0/win-x64/Dapper.dll
Core/WebApplication2/bin/Release/net6.0/win-x64/Microsoft.OpenApi.dll
Core/WebApplication2/bin/Release/net6.0/win-x64/Models.dll
Core/WebApplication2/bin/Release/net6.0/win-x64/Models.pdb
Core/WebApplication2/bin/Release/net6.0/win-x64/Npgsql.dll
Core/WebApplication2/bin/Release/net6.0/win-x64/PostgresDBHelper.dll
Core/WebApplication2/bin/Release/net6.0/win-x64/PostgresDBHelper.pdb
Core/WebApplication2/bin/Release/net6.0/win-x64/Repositories.dll
Core/WebApplication2/bin/Release/net6.0/win-x64/Repositories.pdb
Core/WebApplication2/bin/Release/net6.0/win-x64/Swashbuckle.AspNetCore.Swagger.dll
Core/WebApplication2/bin/Release/net6.0/win-x64/Swashbuckle.AspNetCore.SwaggerGen.dll
Core/WebApplication2/bin/Release/net6.0/win-x64/Swashbuckle.AspNetCore.SwaggerUI.dll
Core/WebApplication2/bin/Release/net6.0/win-x64/WebApplication2.deps.json
Core/WebApplication2/bin/Release/net6.0/win-x64/WebApplication2.dll
Core/WebApplication2/bin/Release/net6.0/win-x64/WebApplication2.exe
Core/WebApplication2/bin/Release/net6.0/win-x64/WebApplication2.pdb
Core/WebApplication2/bin/Release/net6.0/win-x64/WebApplication2.runtimeconfig.json
Core/WebApplication2/bin/Debug/net6.0/Models.dll
Core/WebApplication2/bin/Debug/net6.0/Models.pdb
Core/WebApplication2/bin/Debug/net6.0/PostgresDBHelper.dll
Core/WebApplication2/bin/Debug/net6.0/PostgresDBHelper.pdb
Core/WebApplication2/bin/Debug/net6.0/Repositories.dll
Core/WebApplication2/bin/Debug/net6.0/Repositories.pdb
Core/WebApplication2/bin/Debug/net6.0/WebApplication2.deps.json
Core/WebApplication2/bin/Debug/net6.0/WebApplication2.dll
Core/WebApplication2/bin/Debug/net6.0/WebApplication2.pdb
Core/WebApplication2/obj/project.assets.json
Core/WebApplication2/obj/project.nuget.cache
Core/WebApplication2/obj/WebApplication2.csproj.EntityFrameworkCore.targets
Core/WebApplication2/obj/WebApplication2.csproj.nuget.dgspec.json
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.assets.cache
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.AssemblyReference.cache
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.CoreCompileInputs.cache
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.csproj.FileListAbsolute.txt
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.dll
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.GeneratedMSBuildEditorConfig.editorconfig
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.genruntimeconfig.cache
Core/WebApplication2/obj/Debug/net6.0/WebApplication2.pdb
Core/WebApplication2/obj/Debug/net6.0/ref/WebApplication2.dll
Core/WebApplication2/obj/Debug/net6.0/refint/WebApplication2.dll
Core/WebApplication2/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Core/WebApplication2/obj/Release/net6.0/apphost.exe
Core/WebApplication2/obj/Release/net6.0/staticwebassets.build.json
Core/WebApplication2/obj/Release/net6.0/WebApplication2.AssemblyInfo.cs
Core/WebApplication2/obj/Release/net6.0/WebApplication2.AssemblyInfoInputs.cache
Core/WebApplication2/obj/Release/net6.0/WebApplication2.assets.cache
Core/WebApplication2/obj/Release/net6.0/WebApplication2.csproj.AssemblyReference.cache
Core/WebApplication2/obj/Release/net6.0/WebApplication2.csproj.CopyComplete
Core/WebApplication2/obj/Release/net6.0/WebApplication2.csproj.CoreCompileInputs.cache
Core/WebApplication2/obj/Release/net6.0/WebApplication2.csproj.FileListAbsolute.txt
Core/WebApplication2/obj/Release/net6.0/WebApplication2.dll
Core/WebApplication2/obj/Release/net6.0/WebApplication2.GeneratedMSBuildEditorConfig.editorconfig
Core/WebApplication2/obj/Release/net6.0/WebApplication2.genruntimeconfig.cache
Core/WebApplication2/obj/Release/net6.0/WebApplication2.GlobalUsings.g.cs
Core/WebApplication2/obj/Release/net6.0/WebApplication2.MvcApplicationPartsAssemblyInfo.cache
Core/WebApplication2/obj/Release/net6.0/WebApplication2.MvcApplicationPartsAssemblyInfo.cs
Core/WebApplication2/obj/Release/net6.0/WebApplication2.pdb
Core/WebApplication2/obj/Release/net6.0/ref/WebApplication2.dll
Core/WebApplication2/obj/Release/net6.0/refint/WebApplication2.dll
Core/WebApplication2/obj/Release/net6.0/staticwebassets/msbuild.build.WebApplication2.props
Core/WebApplication2/obj/Release/net6.0/staticwebassets/msbuild.buildMultiTargeting.WebApplication2.props
Core/WebApplication2/obj/Release/net6.0/staticwebassets/msbuild.buildTransitive.WebApplication2.props
Core/WebApplication2/obj/Release/net6.0/win-x64/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Core/WebApplication2/obj/Release/net6.0/win-x64/apphost.exe
Core/WebApplication2/obj/Release/net6.0/win-x64/PublishOutputs.64e4a5b7ee.txt
Core/WebApplication2/obj/Release/net6.0/win-x64/staticwebassets.build.json
Core/WebApplication2/obj/Release/net6.0/win-x64/staticwebassets.publish.json
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.AssemblyInfo.cs
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.AssemblyInfoInputs.cache
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.assets.cache
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.csproj.AssemblyReference.cache
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.csproj.CopyComplete
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.csproj.CoreCompileInputs.cache
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.csproj.FileListAbsolute.txt
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.dll
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.GeneratedMSBuildEditorConfig.editorconfig
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.genruntimeconfig.cache
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.GlobalUsings.g.cs
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.MvcApplicationPartsAssemblyInfo.cache
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.MvcApplicationPartsAssemblyInfo.cs
Core/WebApplication2/obj/Release/net6.0/win-x64/WebApplication2.pdb
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/appsettings.Development.json
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/appsettings.json
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/Dapper.dll
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/Microsoft.OpenApi.dll
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/Models.dll
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/Models.pdb
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/Npgsql.dll
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/PostgresDBHelper.dll
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/PostgresDBHelper.pdb
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/Repositories.dll
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/Repositories.pdb
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/Swashbuckle.AspNetCore.Swagger.dll
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerGen.dll
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerUI.dll
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/web.config
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/WebApplication2.deps.json
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/WebApplication2.dll
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/WebApplication2.exe
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/WebApplication2.pdb
Core/WebApplication2/obj/Release/net6.0/win-x64/PubTmp/Out/WebApplication2.runtimeconfig.json
Core/WebApplication2/obj/Release/net6.0/win-x64/ref/WebApplication2.dll
Core/WebApplication2/obj/Release/net6.0/win-x64/refint/WebApplication2.dll
Core/WebApplication2/obj/Release/net6.0/win-x64/staticwebassets/msbuild.build.WebApplication2.props
Core/WebApplication2/obj/Release/net6.0/win-x64/staticwebassets/msbuild.buildMultiTargeting.WebApplication2.props
Core/WebApplication2/obj/Release/net6.0/win-x64/staticwebassets/msbuild.buildTransitive.WebApplication2.props
Core/WebApplication2/obj/publish/win-x64/project.assets.json
Core/WebApplication2/obj/publish/win-x64/project.nuget.cache
Core/WebApplication2/obj/publish/win-x64/WebApplication2.csproj.nuget.dgspec.json
Core/WebApplication2/obj/publish/win-x64/WebApplication2.csproj.nuget.g.props
Core/WebApplication2/obj/publish/win-x64/WebApplication2.csproj.nuget.g.targets
Core/WebApplication2/Properties/PublishProfiles/FolderProfile.pubxml
Core/WebApplication2/Properties/PublishProfiles/FolderProfile.pubxml.user
Core/WebApplication2/WebApplication2.csproj
Core/WebApplication2/WebApplication2.csproj.user
Core/WebApplication2/.config/dotnet-tools.json
Core/Repositories/bin/Debug/net6.0/Models.dll
Core/Repositories/bin/Debug/net6.0/Models.pdb
Core/Repositories/bin/Debug/net6.0/Repositories.dll
Core/Repositories/bin/Debug/net6.0/Repositories.pdb
.gitignore
Core/PostgresDBHelper/obj/PostgresDBHelper.csproj.nuget.dgspec.json
Core/PostgresDBHelper/obj/project.assets.json
Core/PostgresDBHelper/obj/project.nuget.cache
Core/PostgresDBHelper/obj/Debug/net6.0/PostgresDBHelper.assets.cache
Core/PostgresDBHelper/obj/Debug/net6.0/PostgresDBHelper.csproj.AssemblyReference.cache
Core/PostgresDBHelper/obj/Debug/net6.0/PostgresDBHelper.csproj.CoreCompileInputs.cache
Core/PostgresDBHelper/obj/Debug/net6.0/PostgresDBHelper.csproj.FileListAbsolute.txt
Core/PostgresDBHelper/obj/Debug/net6.0/PostgresDBHelper.dll
Core/PostgresDBHelper/obj/Debug/net6.0/PostgresDBHelper.GeneratedMSBuildEditorConfig.editorconfig
Core/PostgresDBHelper/obj/Debug/net6.0/PostgresDBHelper.pdb
Core/PostgresDBHelper/obj/Debug/net6.0/ref/PostgresDBHelper.dll
Core/PostgresDBHelper/obj/Debug/net6.0/refint/PostgresDBHelper.dll
Core/PostgresDBHelper/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Core/PostgresDBHelper/obj/Release/net6.0/PostgresDBHelper.AssemblyInfo.cs
Core/PostgresDBHelper/obj/Release/net6.0/PostgresDBHelper.AssemblyInfoInputs.cache
Core/PostgresDBHelper/obj/Release/net6.0/PostgresDBHelper.assets.cache
Core/PostgresDBHelper/obj/Release/net6.0/PostgresDBHelper.csproj.AssemblyReference.cache
Core/PostgresDBHelper/obj/Release/net6.0/PostgresDBHelper.csproj.CopyComplete
Core/PostgresDBHelper/obj/Release/net6.0/PostgresDBHelper.csproj.CoreCompileInputs.cache
Core/PostgresDBHelper/obj/Release/net6.0/PostgresDBHelper.csproj.FileListAbsolute.txt
Core/PostgresDBHelper/obj/Release/net6.0/PostgresDBHelper.dll
Core/PostgresDBHelper/obj/Release/net6.0/PostgresDBHelper.GeneratedMSBuildEditorConfig.editorconfig
Core/PostgresDBHelper/obj/Release/net6.0/PostgresDBHelper.GlobalUsings.g.cs
Core/PostgresDBHelper/obj/Release/net6.0/PostgresDBHelper.pdb
Core/PostgresDBHelper/obj/Release/net6.0/ref/PostgresDBHelper.dll
Core/PostgresDBHelper/obj/Release/net6.0/refint/PostgresDBHelper.dll
Core/PostgresDBHelper/bin/Debug/net6.0/Models.dll
Core/PostgresDBHelper/bin/Debug/net6.0/Models.pdb
Core/PostgresDBHelper/bin/Debug/net6.0/PostgresDBHelper.dll
Core/PostgresDBHelper/bin/Debug/net6.0/PostgresDBHelper.pdb
Core/PostgresDBHelper/bin/Debug/net6.0/Repositories.dll
Core/PostgresDBHelper/bin/Debug/net6.0/Repositories.pdb
Core/PostgresDBHelper/bin/Release/net6.0/Models.dll
Core/PostgresDBHelper/bin/Release/net6.0/Models.pdb
Core/PostgresDBHelper/bin/Release/net6.0/PostgresDBHelper.deps.json
Core/PostgresDBHelper/bin/Release/net6.0/PostgresDBHelper.dll
Core/PostgresDBHelper/bin/Release/net6.0/PostgresDBHelper.pdb
Core/PostgresDBHelper/bin/Release/net6.0/Repositories.dll
Core/PostgresDBHelper/bin/Release/net6.0/Repositories.pdb
Core/PostgresDBHelper/bin/Debug/net6.0/Models.dll
Core/PostgresDBHelper/bin/Debug/net6.0/Models.pdb
Core/PostgresDBHelper/bin/Debug/net6.0/PostgresDBHelper.dll
Core/PostgresDBHelper/bin/Debug/net6.0/PostgresDBHelper.pdb
Core/PostgresDBHelper/bin/Debug/net6.0/Repositories.dll
Core/PostgresDBHelper/bin/Debug/net6.0/Repositories.pdb
Core/.vs/WebApplication1/FileContentIndex/252bd871-9558-4023-8795-0c9c204c421a.vsidx
Core/.vs/WebApplication1/FileContentIndex/b2ba86e1-6b1d-4e01-9094-6da1d626fa33.vsidx
Core/.vs/WebApplication1/FileContentIndex/d73e4ad9-d84c-4f8d-9d81-812f10501639.vsidx
Core/.vs/WebApplication1/FileContentIndex/d680d21b-b15c-4781-921f-d984156671bf.vsidx
