<div class="container">
    <div class="container" style="background-color: rgb(253, 253, 253);border-radius: 15px;">


        <div class="container d-flex align-items-center justify-content-center" style="height: 60vh;">

            <div class="row">



                <div class="col-sm-12">

                    <div class="card" style="width: 35rem;">
                        <form class="p-2" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()"> 

                            <ul class="list-group list-group-flush p-3">
                                <a routerLink="/">
                                    <i class="flaticon2-arrow-2 text-dark mt-3"></i>
                                </a>
                                <li class="list-group-item">
                                </li>

                                <li class="list-group-item">
                                    <label for="first-name">Old password <span style="color: red;">*</span></label>
                                    <input type="text" name="oldPassword" class="form-control" placeholder="Old password"
                                        formControlName="oldPassword" />
                                </li>

                                <li class="list-group-item">
                                    <label for="first-name">Password <span style="color: red;">*</span></label>
                                    <input type="text" name="newPassword" class="form-control" placeholder="Password"
                                        formControlName="newPassword" />
                                </li>

                                <li class="list-group-item">
                                    <label for="first-name">Confirm Password <span style="color: red;">*</span></label>
                                    <input type="text" name="confirmPassword" class="form-control" placeholder="Confirm Password"
                                        formControlName="confirmPassword" />
                                </li>
                                <div *ngIf="changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.hasError('passwordMismatch')" class="error-message">
                                    Passwords do not match. Please re-enter your new password.
                                  </div>
                                <li class="list-group-item">
                                    <button type="submit" class="btn btn-primary">Update Password</button>
                                </li>
                            </ul>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>