<nav class="navbar navbar-expand-lg " >
  <div class="container-fluid" >
    <a href="index.html">
      <img alt="Logo" src="../assets/media/logos/silver--touch.png" class="logo-default max-h-100px"  />
    </a>
    <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile  header-menu-layout-default "></div>
    <ul class="menu-nav ">
      
      <li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true" ><a style="text-decoration: none;"
        routerLink="/role-master" class="menu-link menu-toggle" routerLink="/" ><span class="menu-text" >Home</span><span
          class="menu-desc"></span><i class="menu-arrow"></i></a>

    </li>
      <li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true" ><a style="text-decoration: none;"
          routerLink="/role-master" class="menu-link menu-toggle" routerLink="/DispayRoleMaster" ><span class="menu-text" >Role Master</span><span
            class="menu-desc"></span><i class="menu-arrow"></i></a>

      </li>
      <li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true"><a
          routerLink="" class="menu-link menu-toggle" routerLink="/UserMaster"><span class="menu-text">User Master</span><span
            class="menu-desc"></span><i class="menu-arrow"></i></a>

      </li>
      <li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true"><a
          routerLink="" class="menu-link menu-toggle" routerLink="RoleAccessList"><span class="menu-text">Role Based Access</span><span
            class="menu-desc"></span><i class="menu-arrow"></i></a>

      </li>
      <li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true"><a
        routerLink="" class="menu-link menu-toggle" routerLink="/DisplayCompany"><span class="menu-text">Companies</span><span
          class="menu-desc"></span><i class="menu-arrow"></i></a>

      <!-- <li class="menu-item  menu-item-submenu menu-item-aro" data-menu-toggle="click" aria-haspopup="true"><a
          routerLink="" class="menu-link menu-toggle" (click)="logout()"><span class="menu-text">Logout</span><span
          class="menu-desc"></span><i class="menu-arrow"></i></a> -->
    </ul>
    <button class="Log_Btn btn btn-danger" style="margin-left: 387px;" (click)="logout()">Logout</button>
  </div>

</nav>
