<!-- <app-login></app-login> -->
<ng-container *ngIf="showNavbar">
    <!-- <app-navigation></app-navigation> -->
    </ng-container>
 
    <!--end::Content-->
    <!-- <app-layout/> -->
    <router-outlet></router-outlet>
    <!-- <app-popup [message]="popupMessage" [isVisible]="showPopup"></app-popup> -->
    <app-toast #toastComponent></app-toast>
    <!-- <router-outlet/> -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->

    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />
    <!--end::Page Vendors Styles-->


    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" />
    <link href="/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" />
    <link href="/assets/css/style.bundle.css" rel="stylesheet" />

    
