<div class="container" style="background-color: rgb(253, 253, 253);border-radius: 15px;">
    <div class="table-wrapper">
        <div class="table-title">
            <br>
            <div class="row">
                <div class="col-sm-8">
                    <h4>Role Based Access Control</h4>
                </div>
            </div>
        </div>
        
        <div class="row">

            <a routerLink="/RoleAccessList" class="back_btn">
                <img src="../assets/media/arrow-left.png" alt="BCK_BTN" width="20px" height="20px"  style="margin-left: 600px;">
              </a>
        </div>
       
        <table class="table table-bordered">
            <thead>
                <tr>
                    
                    <th>Form Name</th>
                    <th>Access Type</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let rol of   Accessdata">
                    <tr>
                        <td>{{rol?.documentmasterfield}}</td>
                        <td><input class="form-check-input mt-0" type="checkbox"  [(ngModel)]="rol.checked" (change)="rbacCheckBox(rol)" [checked]="rol.id === role_id" value="" aria-label="Checkbox for following text input" style="border: solid black; height: 15px; width: 15px; margin-left: 20px;"></td>
                       
                        <!-- <td><input class="form-check-input mt-0" type="checkbox"  [(ngModel)]="rol.checked" (change)="rbacCheckBox(rol)" value="" aria-label="Checkbox for following text input" style="border: solid black; height: 15px; width: 15px; margin-left: 20px;"></td> -->
                 
                    </tr>
                </ng-container>
                
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary m-5" (click)="PostrbacData()">Save</button>
        
        <button type="button" class="btn btn-secondary m-5" (click)="CloseBtn()">Close</button>
    
    </div>
</div>






