<div class="container" style="background-color: rgb(253, 253, 253);border-radius: 15px;">
    <div class="table-wrapper">
        <div class="table-title">
            <br>
            <div class="row">
                <div class="col-sm-8">
                    <h4>Role Based Access Control</h4>
                </div>
                
            </div>
        </div>
        
        <div class="row mb-3 ml-2">

            <a routerLink="/RoleAccessList">
                <i  class="flaticon2-arrow-2 text-dark"  ></i> 
              </a>
        </div>
       
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>Form Name</th>
                    <th>Access Type</th>
                </tr>
            </thead>
            <tbody [formGroup]="roleForm">
                <ng-container *ngFor="let rol of Accessdata; let i = index">
                    <tr>
                        <td>{{rol?.documentmasterfield}}</td>
                        <td>
                            <input class="form-check-input mt-0" type="checkbox" [formControlName]="'checkbox_' + i+1"
                            [formControlName]="'checkbox_' + rol.documentid"
                            (change)="onCheckboxChange(rol.documentid)"
                            [checked]="roleForm.get('checkbox_' + rol.documentid)?.value"
                                aria-label="Checkbox for following text input"
                                style="border: solid black; height: 15px; width: 15px; margin-left: 20px;">
                                
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary m-5" (click)="PostrbacData()">Save</button>

        <button type="button" class="btn btn-secondary m-5" (click)="CloseBtn()">Close</button>

    </div>
</div>