
<!-- login.component.html -->
<div class="container-fluid h-100" style="height: 100%; margin: 0; padding: 0; overflow: hidden;">
  <div class="row h-100 align-items-center">
  <!-- <div class="row h-100 align-items-center"> -->
    <!-- Left: Image (Desktop) -->
    <div class="col-md-4 d-none d-md-flex bg-light login-form-container" style="height: 100vh;">
      <!-- <div class="col-md-4 d-none d-md-flex bg-light login-form-container" style="height: 100%;"> -->
      <div class="login-image-container d-flex justify-content-center align-items-center">
        <!-- <div class="login-image-container d-flex justify-content-center align-items-center" style="height: 100%;"> -->
        <!-- Replace 'image-url' with the actual URL of your image -->
        <img class="login-image" [src]="'/assets/media/login_Splash_95.png'" alt="Login Image">
      </div>
    </div>

    <!-- Center: Image (Mobile) -->
    <div class="d-md-none bg-light w-100"
      style="height: 40vh; display: flex; justify-content: center; align-items: center;">
      <div class="login-image-container">
        <!-- Replace 'image-url' with the actual URL of your background image -->
        <img class="login-background-image  " [src]="'/assets/media/login_Splash_95.png'" alt="Login Image">
        <!-- <div class="login-background-image"
          [style.backgroundImage]="'url(Angular/src/assets/media/login_Splash_95.png)'"></div> -->
      </div>
    </div>

    <!-- Right: Login Form -->
    <div *ngIf="!showForgotPassword" class="col-md-8 bg-white login-container" style="height: 100vh;">
      <div class="login-form d-flex flex-column justify-content-center" style="height: 100%;">
        <h3 class="mb-4">Welcome to WMS</h3>
        <h2 class="mb-4">Login</h2>
        <form #Form="ngForm" (ngSubmit)="Authenticate(Form)">
          <div class="form-group">
            <label for="username">Username</label>
            <input ngModel type="text" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
              id="username" name="username" placeholder="Username"  autofocus/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input ngModel  type="password" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
              id="password" name="password" placeholder="Password" />
          </div>
          <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Login</button>
          <button type="button" class="btn btn-link" (click)="showForgotPassword = true">Forgot Password?</button>
        </form>
      </div>
    </div>

    <!-- forget password -->

    <div *ngIf="showForgotPassword" class="col-md-8 bg-white login-container" style="height: 100vh;">
      <div class="login-form d-flex flex-column justify-content-center" style="height: 100%;">
        <h3 class="mb-4">Welcome to WMS</h3>
        <h2 class="mb-4">Forgot Password</h2>
        <form #forgotPasswordForm="ngForm" (ngSubmit)="submitForgotPassword(forgotPasswordForm)">
          <div class="form-group">
            <label for="forgotUsername">Username</label>
            <input ngModel type="text" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
              id="forgotUsername" name="forgotUsername" placeholder="Username"  autofocus/>
          </div>
          <div class="form-group">
            <label for="forgotEmail">Email</label>
            <input ngModel type="email" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
              id="forgotEmail" name="forgotEmail" placeholder="Email" />
          </div>
          <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Submit</button>
          <button type="button" class="btn btn-link" (click)="showForgotPassword = false">Back to Login</button>
        </form>
      </div>
    </div>
  </div>
</div>