
button {
  margin-right: 10px;
}


button:last-child {
  margin-right: 0;
}
.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  padding-right: 30px;
  
}
  