<div class="container" style="background-color: rgb(253, 253, 253);border-radius: 15px;">
    <div class="table-wrapper">
        <div class="table-title">
            <br>
            <div class="row">
                <div class="col-sm-8">
                    <h4>Role Master Detail</h4>
                </div>
            </div>
        </div>
        <div class="btn-secondary" style="float: right">
            <button type="button" class="btn btn-custom" (click)="GotoRoleMaster()">Add</button>
        </div>
        <table class="table table-bordered" id="myTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>RoleType</th>
                    <th>CreatedDate</th>
                    <th>CreatedByName</th>
                    <th>Last Modifier</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let rol of RoleData | capitalize">
                    <tr>
                        <!-- <td>{{rol?.id}}</td> -->
                        <td>{{rol?.name}}</td>
                        <td>{{rol?.roleName}}</td>
                        <td>{{rol?.createdDate}}</td>
                        <td>{{rol?.createdByName}}</td>
                        <td>{{rol?.lastModifiedByName}}</td>
                        <td>
                            {{rol?.isActive ? 'Active' : 'Inactive' }}
                        </td>
                        <td >
                            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" (click)="UpdateRole(rol)">Edit</button>-->
                                <a href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="UpdateRole(rol)">
                                    <i class="far fa-edit text-primary mr-5"></i>
                                  </a>                                                                                                      
                                  <a href="#" *ngIf="rol.isActive else activeButton" (click)="DeleteRole(rol)" id="Roledelet" class="shadow">
                                    <i class="far fa-trash-alt text-danger mr-1"></i>                        
                                  </a>                                                                
                                  <!-- Rest of the code -->
                                <!-- <button *ngIf="rol.isActive else activeButton" (click)="DeleteRole(rol)" id="Roledelet" class="btn btn-outline-danger">Delete</button> -->
                                <ng-template #activeButton>
                                <button class="btn btn-outline-success" (click)="ActiveRole(rol)">Activate</button>
                                </ng-template>

                                
                            </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Update</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Role</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form #RoleUpdateForm="ngForm"  (ngSubmit)="UpdatedRoleData(RoleUpdateForm.value)">

                    <input hidden class="form-control form-control-sm" type="text" #id [(ngModel)]="RoledataUpdate.id"
                        name="id" aria-label=".form-control-sm example">
                    <div class="mb-3">
                        <label for="name" class="form-label">Role Name</label>
                        <input class="form-control form-control-sm" type="text" [(ngModel)]="RoledataUpdate.name" name="name"
                        placeholder="name" aria-label=".form-control-sm example" #name="ngModel" required>
                        
                    </div>
                    <div class="mb-3">
                        <label for="roleid" class="form-label">Role</label>
                        <select class="form-select" aria-label="Default select example" #roleTypeid name="roleid"
                            [(ngModel)]="RoledataUpdate.roleTypeid" >
                            <option value="Default">select</option>
                            <option name="select" *ngFor="let i of items" value="{{i.id}}">{{i.name}}</option>
                        </select>
                        <input hidden class="form-control form-control-sm" type="text" #roleTypeid
                            formControlName="roleid" [(ngModel)]="RoledataUpdate.roleTypeid" name="roleid"
                            aria-label=".form-control-sm example" >
                    </div>

                    
                    <input hidden class="form-control form-control-sm" type="text" #lastModifier
                        [(ngModel)]="RoledataUpdate.lastModifier" name="lastModifier"
                        aria-label=".form-control-sm example">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>




<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">WMS</strong>
      <small></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Successfully updated role.
    </div>
  </div>
</div>

