
<div class="container">
  <div class="container" style="background-color: rgb(253, 253, 253);border-radius: 15px;">
    
    
    <div class="container d-flex align-items-center justify-content-center" style="height: 60vh;">
      
    <div class="row">
  
      
  
      <div class="col-sm-12">
        
        <div class="card" style="width: 28rem;">
         
          
          
          <form [formGroup]="ngForm" class="p-2" (ngSubmit)="PostDataForm()">
            
            <ul class="list-group list-group-flush p-3">
              <a routerLink="/DispayRoleMaster">
                <i  class="flaticon2-arrow-2 text-dark mt-3"  ></i> 
              </a>
              <li class="list-group-item">
              </li>
              <li class="list-group-item">
                <label for="first-name">Role Name<span style="color: red;">*</span></label>
                <input type="text" name="name" class="form-control" placeholder="Role Name" formControlName="name" />
              </li>
              <li class="list-group-item">
                <label for="first-name">Role Type<span style="color: red;">*</span></label>
                <select class="form-select" aria-label="Default select example" formControlName="roleid">
                  <option value="Default">select</option>
                  <option name="select" *ngFor="let i of items" value="{{i.id}}">{{i.name}}</option>
                </select>
              </li>
              <li class="list-group-item">  
                <button class="btn btn-primary">Create</button>
              </li>
            </ul>
          </form>
          
        </div>
      </div> 
    </div>
  </div>
  </div>
</div>

