<div class="container" style="background-color: rgb(253, 253, 253);border-radius: 15px;">
  <div class="table-wrapper" style="padding: 2vh;">
    <div class="table-title">
      <br>
      <div class="row">
        <div class="col-sm-8">
          <h4>Comapany Master Data</h4>
        </div>
      </div>
    </div>
    <div class="mb-3" style="float: right">
      <button type="button" id="add" class="btn btn-primary" (click)="GotoCompanypage()">Add New Company</button>
    </div>
    <table class="table table-bordered" id="mytable">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Email</th>
          <th>Service Layer URL</th>
          <th>DB Type</th>
          <th>User Name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let i of Comapnydata">
          <tr>
            <td>{{ i?.name }}</td>
            <td>{{ i?.email }}</td>
            <td>{{ i?.slUrl }}</td>
            <td>{{ i?.databaseType }}</td>
            <td>{{ i?.slusername }}</td>
            <td>
              <i *ngIf="i.isActive else activeicon"  class="flaticon2-check-mark text-success" ></i> 
                             <ng-template #activeicon>
                                <i  class="flaticon2-cancel-music text-danger" ></i> 
                             </ng-template>            
            </td>
            <td>
              <!-- <button
                type="button"class="btn btn-outline-primary"data-bs-toggle="modal"data-bs-target="#exampleModal"(click)="UpdateCompany()">Edit</button> -->

              <a *ngIf="i.isActive;" type="button" (click)="UpdateCompany(i)">
                <i class="far fa-edit text-primary mr-5"></i>
              </a>

              <a *ngIf="i.isActive; else activeButton" (click)="deletebtn(i)" id="delet">
                <i class="far fa-trash-alt text-danger mr-1" style="background-color: transparent;"></i>
              </a>
              <ng-template #activeButton>
                <button class="btn btn-outline-success" (click)="activebtn(i)">
                  Activate
                </button>
              </ng-template>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>